{% assign animal = '' %}
{% if product.tags contains 'gatos' %}
  {% unless product.tags contains 'perros' %}
    {% assign animal = 'gato' %}
  {% endunless %}
{% elsif product.tags contains 'perros' %}
  {% unless product.tags contains 'gatos' %}
    {% assign animal = 'perro' %}
  {% endunless %}
{% endif %}

{% unless product.tags contains 'suplementos y aceites' %}
<section class="extraProducto !rounded-[8px]">
  {% if animal %}
    <div class="cajaIngrediente">
      <div class="aporteImg">
        {% if animal == 'gato' %}
          <img
            class="mx-auto my-2"
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/wib-gato.svg?v=1727775092"
            alt="gato"
          >
        {% elsif animal == 'perro' %}
          <img
            class="mx-auto my-2"
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Vector.svg?v=1753719459"
            alt="perro"
          >
        {% endif %}
      </div>

      <div class="porcentajes font-[600]">
        <p>
          {% if animal == 'gato' %}
            <p>Gatos</p>
          {% elsif animal == 'perro' %}
            <p>Perros</p>
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}

  <div class="cajaIngrediente">
    <div class="aporteImg">
    {% if product.tags contains 'congelado' and product.tags contains 'barf_grande' %}
        <img
          class="mx-auto my-2"
          src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/wib-porcion-cocinado.svg?v=1727775092"
          alt="Barf grande"
        >
        {% elsif product.tags contains 'congelado' and product.tags contains 'comida cocinada' %}
        <img
          class="mx-auto my-2"
          src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/wib-porcion-cocinado.svg?v=1727775092"
          alt="porción cocinado"
        >
      {% elsif product.tags contains 'congelado' and product.tags contains 'barf_burger' %}
        <img
          class="mx-auto my-2"
          src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Vector_1.svg?v=1753719546"
          alt="hamburguesita"
        >
      {% elsif product.tags contains 'lata' %}
        {% if animal == 'gato' %}
          <img
            class="mx-auto my-2"
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/wib-lata-pequena.svg?v=1727775092"
            alt="Lata pequeña"
          >
        {% else %}
          <img
            class="mx-auto my-2"
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/wib-lata-grande.svg?v=1727775092"
            alt="Lata grande"
          >
        {% endif %}
      {% endif %}
    </div>

    <div class="porcentajes font-[600]">
      <p>
        {% if product.tags contains 'congelado' and product.tags contains 'comida cocinada' %}
          <p>
            {% if animal == 'gato' %}10x120gr{% else %}4x325gr{% endif %}
          </p>
        {% elsif product.tags contains 'congelado' and product.tags contains 'barf_burger' %}
          <p>Burger 50gr</p>
        {% elsif product.tags contains 'congelado' and product.tags contains 'barf_grande' %}
          <p>0,5kg</p>
        {% elsif product.tags contains 'lata' %}
          <p>
            Lata de
            {% if animal == 'gato' and product.tags contains '120g' -%}
              120g
            {% elsif product.tags contains '80g' -%}
              80g
            {%- else -%}
              400g
            {%- endif %}
          </p>
        {% endif %}
      </p>
    </div>
  </div>

  {% if product.tags contains 'barf_burgers' %}
  <div class="cajaIngrediente">
    <div class="aporteImg">
      <img 
        class="mx-auto my-2"
        src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Vector_2.svg?v=1753719548" 
        alt="Bolsa reciclable"
        ">
    </div>
    <div class="porcentajes font-[600]">
      <p>Bolsa reciclable</p>
    </div>
  </div>
{% endif %}


  {% if product.tags contains 'congelado' %}
    <div class="cajaIngrediente">
      <div class="aporteImg">
        <img
          class="mx-auto my-2"
          src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Vector_3.svg?v=1753719550"
          alt="Producto congelado"
        >
      </div>

      <div class="porcentajes font-[600]">
        <p>Congelado</p>
      </div>
    </div>
  {% endif %}
</section>
{% endunless %}

{% if product.tags contains 'congelado' %}
  <section class="extraProducto !rounded-[8px] mt-4">
    <div class="cajaIngrediente">
      <div class="aporteImg">
    
      </div>
      <div class="porcentajes font-[600] text-center">
        <p>Para asegurar la calidad, el pedido mínimo de producto congelado debe ser de 5kg</p>
      </div>
    </div>
  </section>
{% endif %}

  {% if product.tags contains 'comida cocinada congelada' and product.tags contains 'perros' %}
  <div class="cajaIngrediente bg-[#005139] text-white !rounded-[8px] py-3 px-4 mt-3 text-center">
    <p class="font-[600]">DISPONIBLE A PARTIR DEL 5 DE DICIEMBRE</p>
  </div>
{% endif %}