<a href="{{ routes.root_url }}" data-menu-drawer data-drawer-options='{ "id": "#mobile-menu-drawer" }' class="t4s-push-menu-btn {{ push_menu }} t4s-lh-1 t4s-d-flex t4s-align-items-center" data-mobile-menu-trigger>
  <svg class="icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="25" height="2"></rect><rect y="7" width="25" height="2"></rect><rect y="14" width="25" height="2"></rect></svg>
  <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor"><path d="M15 1L1 15M1 1l14 14" stroke="currentColor" stroke-width="2"/></svg>
</a>