<section class="flex items-center justify-center gap-[29px] mx-auto py-20 my-20 bg-[#F4F0E2]  [@media(max-width:1024px)]:px-6">
  <div class="flex items-center gap-[66px] mx-auto [@media(max-width:1024px)]:flex-col lg:flex-row  max-w-[1600px] lg:px-10">
    <div class="border bg-card text-card-foreground shadow relative sm:w-100 lg:w-2/5 lg:h-[539px] rounded-[10px] lg:[background:url(https://cdn.shopify.com/s/files/1/0713/9898/1933/files/353b4457832967a1e491b564db7028d037415663_1.jpg?v=1754318637)_50%_50%_/_cover] overflow-hidden">
      <img
        class="lg:hidden"
        alt="Vector"
        src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/353b4457832967a1e491b564db7028d037415663_1.jpg?v=1754318637"
      >
    </div>
    <div class="flex flex-col sm:w-100 lg:w-3/5 items-start gap-6 lg:gap-[39px]">
      <div class="flex flex-col items-start gap-6 lg:gap-[39px] w-full">
        <div class="flex flex-col items-start gap-[30px] w-full">
          <div class="flex flex-col items-start gap-6 w-full">
            <div class="flex flex-col items-center gap-2.5 relative overflow-hidden">
              <img
                class="relative h-[27px] sm:h-[37px] lg:h-[47px]"
                alt="Vector"
                src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Capa_1_20.png?v=1753618597"
              >
            </div>

            <h2 class="top-0 left-0 [font-family:'Barlow',Helvetica] font-extrabold text-[#004623] text-[30px] sm:text-[38px] md:text-[44px] lg:text-[57px] xl:text-[64px] leading-[1]">
              Asesoramiento nutricional experto
            </h2>
          </div>
          <p class="w-full [font-family:'DM_Sans_18pt-Regular',Helvetica] font-normal text-[#222222] text-lg tracking-[0] leading-[26.1px] text-[14px] sm:text-[16px] lg:text-[18px]">
            En Wild Balance te ofrecemos asesoramiento nutricional personalizado para mejorar la salud y bienestar de tu
            mascota. Nuestro equipo te ayuda a elegir la mejor dieta natural y equilibrada, adaptada a sus necesidades.
            ¡Alimenta con conciencia y nota la diferencia!
          </p>
        </div>
        <div class="flex items-center gap-2">
          <div class="flex items-start relative">
            <img
              class="relative  h-[92px]"
              alt="Foto de perfil de"
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/avatars.png?v=1752854897"
            >
          </div>
          <div class="flex flex-col items-start">
            <div class="font-bold text-[13px] lg:text-[14px]">+100 Mascotas contentas</div>
            <div class="text-[#222222] text-[13px] lg:text-[14px] -mt-2">Para perros y gatos</div>
          </div>
        </div>
      </div>
      <a
        target="_blank"
        href="https://api.whatsapp.com/send/?phone=34670319204&text&type=phone_number&app_absent=0&_kx=_V3Qt6MyBasq1R9MaiJGmqCJaXgPZI4XMm1kP-MvGoCJ2YvBXCDqhjZk3RLlmfVw.YsKiw5"
        class="
          shadow h-9 inline-flex items-center justify-center gap-2.5 py-8 px-12 bg-[#ffcd00] rounded-[50px] text-[#004623] hover:bg-[#ffcd00]/90
          max-sm:w-full md:w-auto text-[18px]
        "
      >
        <span class="[font-family:'DM_Sans_18pt-SemiBold',Helvetica] font-semibold text-[18px]"> Escríbenos </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-[15px] h-[15px] ml-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M12 5l7 7-7 7" />
        </svg>
      </a>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Migraciones image+text",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s-custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    }
  ],
  "presets": [
    {
      "name": "Migraciones image+text"
    }
  ]
}
{% endschema %}
