<section class="relative w-full py-20 bg-[#faf5e7] overflow-hidden">
  <div class="flex flex-col w-full max-w-[1240px] mx-auto items-center gap-20">
    <header class="relative w-full flex flex-col items-center">
      <div class="flex flex-col w-full items-center gap-5">
        <div class="flex flex-col w-[308px] items-center gap-2.5 relative">
          <img
            class="relative h-[27px] sm:h-[37px] lg:h-[47px]"
            alt="Vector"
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Capa_1_9.png?v=1752834270"
          >
        </div>
        <h2 class="relative w-full [font-family:'Barlow',Helvetica] font-bold text-[#00774f] text-[64px] text-center tracking-[0] leading-[49.3px]">
          Qué dicen <span class="highlight">nuestros clientes</span>
        </h2>
      </div>
    </header>
    <div class="flex items-center gap-[15px] w-full">
      <div class="relative w-[298.72px] h-[287.17px]">
        <div class="relative w-[299px] h-[287px]">
          <div class="border text-card-foreground shadow absolute w-[299px] h-[236px] top-[51px] left-0 bg-[#cae6c8] rounded-lg border-none">
            <div class="p-6 flex flex-col w-[232px] items-center gap-[13px] pt-[73px] mx-auto">
              <div class="relative self-stretch mt-[-1.00px] [font-family:'Manrope',Helvetica] font-bold text-[#00774f] text-lg text-center tracking-[0] leading-[23.4px]">
                Nombre y perro
              </div>
              <div class="relative self-stretch [font-family:'DM_Sans_18pt-Regular',Helvetica] font-normal text-[#00774f] text-sm text-center tracking-[0] leading-[26px]">
                Lorem ipsum dolor sit amet consectetur. Velit enim morbi porttitor phasellus mi nisi risus aliquam
                tortor.
              </div>
            </div>
          </div>
          <div class="absolute w-[101px] h-[103px] top-0 left-[108px] bg-[url(/vector-2.svg)] bg-[100%_100%]">
            <img
              class="absolute w-100 h-100 top-1 left-[3px] object-cover rounded-full"
              alt="Profile pic of a woman with a dog"
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/0d4524ca19e1018ee6031f8f82b961197c037af4.png?v=1752833959"
            >
          </div>
        </div>
      </div>
      <div class="relative w-[298.72px] h-[287.17px]">
        <div class="relative w-[299px] h-[287px]">
          <div class="border text-card-foreground shadow absolute w-[299px] h-[236px] top-[51px] left-0 bg-[#cae6c8] rounded-lg border-none">
            <div class="p-6 flex flex-col w-[232px] items-center gap-[13px] pt-[73px] mx-auto">
              <div class="relative self-stretch mt-[-1.00px] [font-family:'Manrope',Helvetica] font-bold text-[#00774f] text-lg text-center tracking-[0] leading-[23.4px]">
                Nombre y perro
              </div>
              <div class="relative self-stretch [font-family:'DM_Sans_18pt-Regular',Helvetica] font-normal text-[#00774f] text-sm text-center tracking-[0] leading-[26px]">
                Lorem ipsum dolor sit amet consectetur. Velit enim morbi porttitor phasellus mi nisi risus aliquam
                tortor.
              </div>
            </div>
          </div>
          <div class="absolute w-[101px] h-[103px] top-0 left-[108px] bg-[url(/vector-2.svg)] bg-[100%_100%]">
            <img
              class="absolute w-100 h-100 top-1 left-[3px] object-cover rounded-full"
              alt="A profile pic of a middle age men with a dog"
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/0d4524ca19e1018ee6031f8f82b961197c037af4.png?v=1752833959"
            >
          </div>
        </div>
      </div>
      <div class="relative w-[298.72px] h-[287.17px]">
        <div class="relative w-[299px] h-[287px]">
          <div class="border text-card-foreground shadow absolute w-[299px] h-[236px] top-[51px] left-0 bg-[#cae6c8] rounded-lg border-none">
            <div class="p-6 flex flex-col w-[232px] items-center gap-[13px] pt-[73px] mx-auto">
              <div class="relative self-stretch mt-[-1.00px] [font-family:'Manrope',Helvetica] font-bold text-[#00774f] text-lg text-center tracking-[0] leading-[23.4px]">
                Nombre y perro
              </div>
              <div class="relative self-stretch [font-family:'DM_Sans_18pt-Regular',Helvetica] font-normal text-[#00774f] text-sm text-center tracking-[0] leading-[26px]">
                Lorem ipsum dolor sit amet consectetur. Velit enim morbi porttitor phasellus mi nisi risus aliquam
                tortor.
              </div>
            </div>
          </div>
          <div class="absolute w-[101px] h-[103px] top-0 left-[108px] bg-[url(/vector-2.svg)] bg-[100%_100%]">
            <img
              class="absolute w-100 h-100 top-1 left-[3px] object-cover rounded-full"
              alt="Profile pic of a woman with a dog"
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/0d4524ca19e1018ee6031f8f82b961197c037af4.png?v=1752833959"
            >
          </div>
        </div>
      </div>
      <div class="relative w-[298.72px] h-[287.17px]">
        <div class="relative w-[299px] h-[287px]">
          <div class="border text-card-foreground shadow absolute w-[299px] h-[236px] top-[51px] left-0 bg-[#cae6c8] rounded-lg border-none">
            <div class="p-6 flex flex-col w-[232px] items-center gap-[13px] pt-[73px] mx-auto">
              <div class="relative self-stretch mt-[-1.00px] [font-family:'Manrope',Helvetica] font-bold text-[#00774f] text-lg text-center tracking-[0] leading-[23.4px]">
                Nombre y perro
              </div>
              <div class="relative self-stretch [font-family:'DM_Sans_18pt-Regular',Helvetica] font-normal text-[#00774f] text-sm text-center tracking-[0] leading-[26px]">
                Lorem ipsum dolor sit amet consectetur. Velit enim morbi porttitor phasellus mi nisi risus aliquam
                tortor.
              </div>
            </div>
          </div>
          <div class="absolute w-[101px] h-[103px] top-0 left-[108px] bg-[url(/vector-2.svg)] bg-[100%_100%]">
            <img
              class="absolute w-100 h-100 top-1 left-[3px] object-cover rounded-full"
              alt="A profile pic of a middle age men with a dog"
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/0d4524ca19e1018ee6031f8f82b961197c037af4.png?v=1752833959"
            >
          </div>
        </div>
      </div>
    </div>

    <button class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 text-primary-foreground shadow h-9 px-8 py-[13px] bg-[#ffcd00] rounded-[50px] hover:bg-[#ffcd00]/90">
      <span class="[font-family:'DM_Sans_18pt-SemiBold',Helvetica] font-semibold text-[#00774f] text-lg tracking-[0] leading-[26px]"
        >Prueba Wild Balance</span
      >
      <div class="relative w-[21.94px] h-[21.94px] ml-2">
        <img class="absolute w-[15px] h-[15px] top-1 left-[3px]" alt="Icon" src="/icon.svg">
      </div>
    </button>
  </div>
</section>

{% schema %}
{
  "name": "Migraciones clientes",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s-custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    }
  ],
  "presets": [
    {
      "name": "Migraciones clientes"
    }
  ]
}
{% endschema %}
