<div class="flex flex-col items-center gap-20 max-w-[1600px] mx-auto mig-section">
  <!-- Título -->
  <div class="flex flex-col items-center gap-[13px]  [@media(max-width:1024px)]:px-6">
    <div class="flex flex-col items-center gap-2.5 relative overflow-hidden">
      <img
        class="relative h-[27px] sm:h-[37px] lg:h-[47px]"
        alt="Vector"
        src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Capa_1_21.png?v=1753618670"
      >
    </div>
    <div class="relative w-full text-center  [@media(max-width:1024px)]:px-6">
      <h2 class="relative [font-family:'Barlow',Helvetica] font-extrabold text-[#004623] max-w-[1600px] text-[30px] lg:text-[64px] lg:text-center leading-[1]">
        Cómo funciona <span class="highlight">nuestra suscripción</span>
      </h2>
    </div>
  </div>

  <!-- Contenedor GRID / SLIDER -->
  <div class="relative w-full">
    <!-- GRID en escritorio -->
    <a href="/pages/crea-su-menu" class="hidden md:grid grid-cols-3 gap-6 sm:px-10">
      <!-- Card 1 -->
      <div class="flex flex-col">
        <div class="relative">
          <div class="border bg-card text-card-foreground shadow w-full h-[293px] rounded-lg overflow-hidden">
            <div
              class="w-full h-full rounded-lg bg-center bg-cover"
              style="background-image:url('https://cdn.shopify.com/s/files/1/0713/9898/1933/files/suscripcion_2_1.jpg?v=1754248969')"
            ></div>
          </div>
          <div class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 bg-[#FFCD00] rounded-full w-[79px] h-[79px] flex items-center justify-center">
            <div class="w-[79px] h-[79px] bg-[url(/vector-2.svg)] bg-cover flex items-center justify-center">
              <span class="font-bold text-[#004623] text-[50px] leading-[34px]">1</span>
            </div>
          </div>
        </div>
        <div class="mt-20 text-center px-4">
          <h3 class="font-bold text-[#004623] text-[28px] leading-[34px]">Crea tu plan</h3>
          <p class="mt-4 font-normal text-[#004623] leading-[26px] text-[16px]">
            Cuéntanos un poco sobre tu peludo en menos de 2 min.
          </p>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="flex flex-col">
        <div class="relative">
          <div class="border bg-card text-card-foreground shadow w-full h-[293px] rounded-lg overflow-hidden">
            <div
              class="w-full h-full rounded-lg bg-center bg-cover"
              style="background-image:url('https://cdn.shopify.com/s/files/1/0713/9898/1933/files/suscripcion_3_1.jpg?v=1754248970')"
            ></div>
          </div>
          <div class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 bg-[#FFCD00] rounded-full w-[79px] h-[79px] flex items-center justify-center">
            <div class="w-[79px] h-[79px] bg-[url(/vector-2.svg)] bg-cover flex items-center justify-center">
              <span class="font-bold text-[#004623] text-[50px] leading-[34px]">2</span>
            </div>
          </div>
        </div>
        <div class="mt-20 text-center px-4">
          <h3 class="font-bold text-[#004623] text-[28px] leading-[34px]">Pruébalo con un 10%</h3>
          <p class="mt-4 font-normal text-[#004623] leading-[26px] text-[16px]">
            Te enviaremos una caja con un descuento especial para que pruebes comida de la mejor calidad.
          </p>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="flex flex-col">
        <div class="relative">
          <div class="border bg-card text-card-foreground shadow w-full h-[293px] rounded-lg overflow-hidden">
            <div
              class="w-full h-full rounded-lg bg-center bg-cover"
              style="background-image:url('https://cdn.shopify.com/s/files/1/0713/9898/1933/files/suscripcion_1_1.jpg?v=1754248969')"
            ></div>
          </div>
          <div class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 bg-[#FFCD00] rounded-full w-[79px] h-[79px] flex items-center justify-center">
            <div class="w-[79px] h-[79px] bg-[url(/vector-2.svg)] bg-cover flex items-center justify-center">
              <span class="font-bold text-[#004623] text-[50px] leading-[34px]">3</span>
            </div>
          </div>
        </div>
        <div class="mt-20 text-center px-4">
          <h3 class="font-bold text-[#004623] text-[28px] leading-[34px]">Enamórate</h3>
          <p class="mt-4 font-normal text-[#004623] leading-[26px] text-[16px]">
            Si os encanta, solo elige la frecuencia de entrega. Sin permanencia, 100% flexible.
          </p>
        </div>
      </div>
    </a>

    <!-- SLIDER en móvil -->
    <div class="md:hidden">
      <div class="flex overflow-x-auto snap-x space-x-6 px-2 no-scrollbar">
        <!-- Slide 1 -->
        <div class="snap-center flex-shrink-0 w-[310px] flex flex-col">
          <div class="relative">
            <div class="border bg-card text-card-foreground shadow w-full h-[293px] rounded-lg overflow-hidden">
              <div
                class="w-full h-full rounded-lg bg-center bg-cover"
                style="background-image:url('https://cdn.shopify.com/s/files/1/0713/9898/1933/files/suscripcion_2_1.jpg?v=1754248969')"
              ></div>
            </div>
            <div class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 bg-[#FFCD00] rounded-full w-[79px] h-[79px] flex items-center justify-center">
              <div class="w-[79px] h-[79px] bg-[url(/vector-2.svg)] bg-cover flex items-center justify-center">
                <span class="font-bold text-[#004623] text-[50px] leading-[34px]">1</span>
              </div>
            </div>
          </div>
          <div class="mt-20 text-center px-4">
            <h3 class="font-bold text-[#004623] text-[28px] leading-[34px]">Crea tu plan</h3>
            <p class="mt-4 font-normal text-[#004623] leading-[26px] text-[14px]">
              Cuéntanos un poco sobre tu peludo en menos de 2 min.
            </p>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="snap-center flex-shrink-0 w-[310px] flex flex-col">
          <div class="relative">
            <div class="border bg-card text-card-foreground shadow w-full h-[293px] rounded-lg overflow-hidden">
              <div
                class="w-full h-full rounded-lg bg-center bg-cover"
                style="background-image:url('https://cdn.shopify.com/s/files/1/0713/9898/1933/files/suscripcion_3_1.jpg?v=1754248970')"
              ></div>
            </div>
            <div class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 bg-[#FFCD00] rounded-full w-[79px] h-[79px] flex items-center justify-center">
              <div class="w-[79px] h-[79px] bg-[url(/vector-2.svg)] bg-cover flex items-center justify-center">
                <span class="font-bold text-[#004623] text-[50px] leading-[34px]">2</span>
              </div>
            </div>
          </div>
          <div class="mt-20 text-center px-4">
            <h3 class="font-bold text-[#004623] text-[28px] leading-[34px]">Pruébalo con un 10%</h3>
            <p class="mt-4 font-normal text-[#004623] leading-[26px] text-[14px]">
              Te enviaremos una caja con un descuento especial para que pruebes comida de la mejor calidad.
            </p>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="snap-center flex-shrink-0 w-[310px] flex flex-col">
          <div class="relative">
            <div class="border bg-card text-card-foreground shadow w-full h-[293px] rounded-lg overflow-hidden">
              <div
                class="w-full h-full rounded-lg bg-center bg-cover"
                style="background-image:url('https://cdn.shopify.com/s/files/1/0713/9898/1933/files/suscripcion_1_1.jpg?v=1754248969')"
              ></div>
            </div>
            <div class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 bg-[#FFCD00] rounded-full w-[79px] h-[79px] flex items-center justify-center">
              <div class="w-[79px] h-[79px] bg-[url(/vector-2.svg)] bg-cover flex items-center justify-center">
                <span class="font-bold text-[#004623] text-[50px] leading-[34px]">3</span>
              </div>
            </div>
          </div>
          <div class="mt-20 text-center px-4">
            <h3 class="font-bold text-[#004623] text-[28px] leading-[34px]">Enamórate</h3>
            <p class="mt-4 font-normal text-[#004623] leading-[26px] text-[14px] text-[14px]">
              Si os encanta, solo elige la frecuencia de entrega. Sin permanencia, 100% flexible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón -->
  <a
    href="/pages/crea-su-menu"
    class="
      shadow h-9 inline-flex items-center justify-center gap-2.5 py-8 px-12 bg-[#ffcd00] rounded-[50px] text-[#004623] hover:bg-[#ffcd00]/90
      max-sm:w-full md:w-1/2 lg:w-auto text-[18px]  [@media(max-width:1024px)]:mx-6
    "
  >
    <span class="[font-family:'DM_Sans_18pt-SemiBold',Helvetica] font-semibold text-[18px]">
      Empezar mi plan con un -10%
    </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-[15px] h-[15px] ml-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M12 5l7 7-7 7" />
    </svg>
  </a>
</div>

{% schema %}
{
  "name": "Migraciones columnas",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s-custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    }
  ],
  "presets": [
    {
      "name": "Migraciones columnas"
    }
  ]
}
{% endschema %}
