<section class="relative w-full">
  <section class="relative w-full overflow-hidden">
    <div class="flex flex-col items-center gap-[60px] py-[113px] px-[100px] max-w-[1240px] mx-auto">
      <header class="relative w-full max-w-[860px]">
        <div class="flex flex-col items-center gap-[30px]">
          <div class="flex flex-col w-[214px] items-center gap-2.5 relative">
            <img
              class="relative h-[46.99px]"
              alt="Vector"
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/Capa_1_13.png?v=1752855453"
            >
          </div>
          <h2 class="relative w-fit [font-family:'Barlow',Helvetica] font-bold text-[#004623] text-[64px] text-center tracking-[0] leading-[49.3px] whitespace-nowrap">
            Encuentra la comida adecuada <br>
            <span class="highlight">para tu mascota</span>
          </h2>
        </div>
      </header>
      <div class="p-0 text-[#222222]">
        ¿Quieres saber el precio exacto de su plan personalizado? Responde un breve formulario con preguntas cortas
        sobre tu peludo?
      </div>
      <button class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 text-primary-foreground shadow h-9 px-8 py-[13px] bg-[#ffcd00] rounded-[50px] hover:bg-[#ffcd00]/90">
        <span class="[font-family:'DM_Sans_18pt-SemiBold',Helvetica] font-semibold text-[#004623] text-lg tracking-[0] leading-[26px] whitespace-nowrap"
          >Botón de prueba</span
        >
        <div class="relative w-[21.94px] h-[21.94px] ml-2"></div>
      </button>
    </div>
  </section>
</section>

{% schema %}
{
  "name": "Migraciones rich text",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s-custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    }
  ],
  "presets": [
    {
      "name": "Migraciones rich text"
    }
  ]
}
{% endschema %}
