<div class="max-w-[1600px] mx-auto pt-16 pb-4 lg:py-20 px-10">
  <!-- Header -->
  <div class="lg:flex lg:items-center lg:justify-between mb-6 lg:flex-row ">
    <h2 class="text-center top-0 left-0 [font-family:'Barlow',Helvetica] font-extrabold text-[#004623] lg:mb-10 text-[30px] sm:text-[38px] md:text-[44px] lg:text-[57px] xl:text-[64px]">
      Comida a <span class="highlight">su medida</span>
    </h2>
    <div class="space-x-2 flex items-center justify-center flex-nowrap mt-14 lg:mt-0">
      {% comment %}
        <button
          data-tab="todos"
          class="px-10 py-4 rounded-full border border-[#004623] bg-[#004623] text-white font-medium focus:outline-none active hidden lg:block"
        >
          Todos
        </button>
      {% endcomment %}
      <button
        data-tab="perros"
        class="px-10 py-4 rounded-full border border-[#004623] bg-[#004623] text-[#004623] font-medium focus:outline-none flex items-center justify-center flex-nowrap gap-4"
      >
        <svg
          width="24"
          height="21"
          viewBox="0 0 24 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current"
        >
          <path
             fill="currentColor"
             d="M23.8783 10.6675L22.1863 1.5994C22.1449 1.37836 22.0588 1.16811 21.9332 0.981591C21.8076 0.795068 21.6452 0.636212 21.4559 0.514791C21.2666 0.39337 21.0545 0.311951 20.8326 0.27554C20.6107 0.23913 20.3837 0.248498 20.1655 0.303068L20.1336 0.312342L14.7216 1.90854H10.0123L4.6003 0.317495L4.56836 0.30822C4.35021 0.25365 4.1232 0.244282 3.90129 0.280692C3.67939 0.317103 3.46728 0.398522 3.278 0.519943C3.08873 0.641364 2.92629 0.800221 2.80068 0.986743C2.67508 1.17327 2.58895 1.38351 2.54761 1.60455L0.855579 10.6675C0.783223 11.0305 0.836932 11.4073 1.00782 11.7356C1.17871 12.0639 1.45655 12.324 1.79537 12.4729C2.01239 12.5723 2.24811 12.6243 2.48681 12.6254C2.77252 12.6252 3.05293 12.5483 3.29882 12.4028V16.7473C3.29882 17.8405 3.73309 18.8889 4.50609 19.6619C5.27909 20.4349 6.32751 20.8692 7.42069 20.8692H17.3132C18.4064 20.8692 19.4548 20.4349 20.2278 19.6619C21.0008 18.8889 21.4351 17.8405 21.4351 16.7473V12.4039C21.6807 12.5492 21.9607 12.626 22.246 12.6264C22.485 12.6258 22.7211 12.5741 22.9385 12.475C23.2777 12.326 23.5559 12.0655 23.7268 11.7368C23.8977 11.4081 23.9512 11.0308 23.8783 10.6675ZM2.47445 10.9767L4.1675 1.90854L8.50269 3.18323L2.47445 10.9767ZM17.3132 19.2204H13.1913V17.9127L14.5989 16.5062C14.7536 16.3515 14.8405 16.1417 14.8405 15.9229C14.8405 15.7042 14.7536 15.4944 14.5989 15.3397C14.4443 15.185 14.2345 15.0981 14.0157 15.0981C13.7969 15.0981 13.5871 15.185 13.4324 15.3397L12.3669 16.4062L11.3014 15.3397C11.1468 15.185 10.937 15.0981 10.7182 15.0981C10.4994 15.0981 10.2896 15.185 10.1349 15.3397C9.98026 15.4944 9.89336 15.7042 9.89336 15.9229C9.89336 16.1417 9.98026 16.3515 10.1349 16.5062L11.5426 17.9127V19.2204H7.42069C6.76478 19.2204 6.13573 18.9599 5.67193 18.496C5.20813 18.0322 4.94757 17.4032 4.94757 16.7473V10.4728L10.2978 3.55729H14.4351L19.7863 10.4728V16.7473C19.7863 17.4032 19.5258 18.0322 19.062 18.496C18.5982 18.9599 17.9691 19.2204 17.3132 19.2204ZM22.2594 10.9767L16.2312 3.18323L20.5664 1.90854L22.2594 10.9767ZM9.89382 12.2132C9.89382 12.4578 9.8213 12.6969 9.68542 12.9002C9.54955 13.1036 9.35642 13.2621 9.13047 13.3557C8.90452 13.4493 8.65588 13.4737 8.41601 13.426C8.17615 13.3783 7.95581 13.2605 7.78287 13.0876C7.60994 12.9147 7.49217 12.6943 7.44445 12.4545C7.39674 12.2146 7.42123 11.966 7.51482 11.74C7.60841 11.5141 7.76691 11.3209 7.97026 11.1851C8.17361 11.0492 8.41269 10.9767 8.65726 10.9767C8.98521 10.9767 9.29974 11.1069 9.53164 11.3388C9.76354 11.5707 9.89382 11.8853 9.89382 12.2132ZM17.3132 12.2132C17.3132 12.4578 17.2407 12.6969 17.1048 12.9002C16.9689 13.1036 16.7758 13.2621 16.5498 13.3557C16.3239 13.4493 16.0753 13.4737 15.8354 13.426C15.5955 13.3783 15.3752 13.2605 15.2022 13.0876C15.0293 12.9147 14.9115 12.6943 14.8638 12.4545C14.8161 12.2146 14.8406 11.966 14.9342 11.74C15.0278 11.5141 15.1863 11.3209 15.3896 11.1851C15.593 11.0492 15.8321 10.9767 16.0766 10.9767C16.4046 10.9767 16.7191 11.1069 16.951 11.3388C17.1829 11.5707 17.3132 11.8853 17.3132 12.2132Z"/>
        </svg>

        <span>Perros</span>
      </button>
      <button
        data-tab="gatos"
        class="px-10 py-4 rounded-full border border-[#004623] text-[#004623] font-medium focus:outline-none  flex items-center justify-center flex-nowrap gap-4"
      >
        <svg
          class="fill-current"
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
             fill="currentColor"
            d="M9.94365 13.6908C9.94365 13.9142 9.87742 14.1325 9.75334 14.3182C9.62926 14.5039 9.4529 14.6486 9.24656 14.7341C9.04022 14.8196 8.81318 14.8419 8.59413 14.7984C8.37508 14.7548 8.17387 14.6472 8.01595 14.4893C7.85803 14.3314 7.75048 14.1302 7.70691 13.9111C7.66334 13.6921 7.6857 13.465 7.77117 13.2587C7.85663 13.0524 8.00137 12.876 8.18707 12.7519C8.37277 12.6278 8.59109 12.5616 8.81443 12.5616C9.11392 12.5616 9.40114 12.6806 9.61291 12.8924C9.82468 13.1041 9.94365 13.3913 9.94365 13.6908ZM17.0954 12.5616C16.872 12.5616 16.6537 12.6278 16.468 12.7519C16.2823 12.876 16.1376 13.0524 16.0521 13.2587C15.9666 13.465 15.9443 13.6921 15.9878 13.9111C16.0314 14.1302 16.139 14.3314 16.2969 14.4893C16.4548 14.6472 16.656 14.7548 16.8751 14.7984C17.0941 14.8419 17.3212 14.8196 17.5275 14.7341C17.7338 14.6486 17.9102 14.5039 18.0343 14.3182C18.1584 14.1325 18.2246 13.9142 18.2246 13.6908C18.2246 13.3913 18.1056 13.1041 17.8938 12.8924C17.6821 12.6806 17.3949 12.5616 17.0954 12.5616ZM22.7415 5.03349V13.3144C22.7415 18.2952 18.3516 22.3482 12.9549 22.3482C7.55817 22.3482 3.16833 18.2952 3.16833 13.3144V5.03349C3.16847 4.73581 3.25685 4.44485 3.4223 4.19738C3.58775 3.94991 3.82285 3.75703 4.09788 3.64313C4.37291 3.52924 4.67553 3.49942 4.9675 3.55746C5.25947 3.61549 5.52769 3.75878 5.73825 3.9692C5.75142 3.98238 5.76271 3.99461 5.77401 4.00779L7.40291 5.88041C9.06845 4.8369 10.9942 4.28346 12.9596 4.28346C14.925 4.28346 16.8508 4.8369 18.5163 5.88041L20.1358 4.00779C20.1471 3.99461 20.1584 3.98238 20.1715 3.9692C20.3821 3.75878 20.6503 3.61549 20.9423 3.55746C21.2343 3.49942 21.5369 3.52924 21.8119 3.64313C22.087 3.75703 22.322 3.94991 22.4875 4.19738C22.6529 4.44485 22.7413 4.73581 22.7415 5.03349ZM21.2358 5.03349L19.207 7.36721C19.0829 7.51079 18.9091 7.60219 18.7205 7.62313C18.5319 7.64407 18.3423 7.593 18.1898 7.48013C17.7305 7.14059 17.2376 6.84893 16.719 6.60969V8.79755C16.719 8.99721 16.6396 9.18869 16.4985 9.32987C16.3573 9.47105 16.1658 9.55037 15.9661 9.55037C15.7665 9.55037 15.575 9.47105 15.4338 9.32987C15.2926 9.18869 15.2133 8.99721 15.2133 8.79755V6.07331C14.7195 5.94626 14.2158 5.86064 13.7077 5.81736V8.79755C13.7077 8.99721 13.6284 9.18869 13.4872 9.32987C13.346 9.47105 13.1546 9.55037 12.9549 9.55037C12.7552 9.55037 12.5638 9.47105 12.4226 9.32987C12.2814 9.18869 12.2021 8.99721 12.2021 8.79755V5.81736C11.694 5.86064 11.1903 5.94626 10.6965 6.07331V8.79755C10.6965 8.99721 10.6171 9.18869 10.476 9.32987C10.3348 9.47105 10.1433 9.55037 9.94365 9.55037C9.74399 9.55037 9.55251 9.47105 9.41133 9.32987C9.27015 9.18869 9.19083 8.99721 9.19083 8.79755V6.60969C8.67217 6.84893 8.17933 7.14059 7.72003 7.48013C7.56779 7.59333 7.37843 7.64487 7.18983 7.62446C7.00122 7.60405 6.82728 7.51318 6.70279 7.37003L4.67396 5.03349V13.3144C4.67396 17.2347 7.98728 20.4661 12.2021 20.8115V18.8956L10.9167 17.6102C10.8468 17.5402 10.7914 17.4572 10.7536 17.3658C10.7158 17.2745 10.6963 17.1766 10.6964 17.0777C10.6964 16.9788 10.7159 16.8809 10.7538 16.7896C10.7917 16.6983 10.8472 16.6153 10.9171 16.5454C11.0584 16.4043 11.2499 16.325 11.4496 16.3251C11.5485 16.3252 11.6464 16.3447 11.7377 16.3826C11.829 16.4204 11.912 16.4759 11.9819 16.5459L12.9549 17.5189L13.9279 16.5459C13.9978 16.4759 14.0808 16.4204 14.1721 16.3826C14.2634 16.3447 14.3613 16.3252 14.4602 16.3251C14.5591 16.3251 14.657 16.3445 14.7483 16.3823C14.8397 16.4201 14.9227 16.4755 14.9927 16.5454C15.0626 16.6153 15.1181 16.6983 15.156 16.7896C15.1939 16.8809 15.2134 16.9788 15.2134 17.0777C15.2135 17.1766 15.194 17.2745 15.1562 17.3658C15.1184 17.4572 15.063 17.5402 14.9931 17.6102L13.7077 18.8956V20.8115C17.9225 20.4643 21.2358 17.2356 21.2358 13.3144V5.03349Z"/>
        </svg>

        <span>Gatos</span>
      </button>
    </div>
  </div>

  <!-- Tab Content -->
  <div id="tab-content" class="my-10 lg:my-20">
    <!-- Todos -->
    {% comment %}
      <div id="todos" class="tab-panel">
        <div id="drag-scroll-todos" class=" cards-container flex space-x-4 overflow-x-auto pb-4 ">
          <!-- Card Item -->

          <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
            <img
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/602da643aadab304b6c4f8669b83cae243603ada.png?v=1753114997"
              alt="Producto"
              class="w-full  object-cover"
              draggable="false"
            >
            <div class="p-4">
              <p class="text-sm font-semibold">Comida cocinada</p>
            </div>
          </div>
          <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
            <img
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/abf0b4bcca23c27d3b6eeda8ec9eb779d2ef88dd.png?v=1753115011"
              alt="Producto"
              class="w-full  object-cover"
              draggable="false"
            >
            <div class="p-4">
              <p class="text-sm font-semibold">Latas</p>
            </div>
          </div>
          <div class="w-1/2 p-2 min-w-[25%] h-100  rounded-lg ">
            <img
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
              alt="Producto"
              class="w-full  object-cover"
              draggable="false"
            >
            <div class="p-4">
              <p class="text-sm font-semibold">BARF</p>
            </div>
          </div>
          <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
            <img
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
              alt="Producto"
              class="w-full  object-cover"
              draggable="false"
            >
            <div class="p-4">
              <p class="text-sm font-semibold">BARF</p>
            </div>
          </div>
          <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
            <img
              src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
              alt="Producto"
              class="w-full  object-cover"
              draggable="false"
            >
            <div class="p-4">
              <p class="text-sm font-semibold">BARF</p>
            </div>
          </div>
        </div>
      </div>
    {% endcomment %}
    <!-- Perros -->
    <div id="perros" class="tab-panel">
      <div class="cards-container flex space-x-4 overflow-x-auto pb-4">
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[25%] h-100  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Gatos -->
    <div id="gatos" class="tab-panel hidden">
      <div class="cards-container flex space-x-4 overflow-x-auto pb-4">
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[25%] h-100  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
        <div class="w-1/2 p-2 min-w-[75%] sm:min-w-[50%] md:min-w-[33.333%] lg:min-w-[25%]  rounded-lg ">
          <img
            src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/5597f9e5326a78e48a711f12f1145a2b53df4a99.png?v=1752862609"
            alt="Producto"
            class="w-full  object-cover"
            draggable="false"
          >
          <div class="p-4">
            <p class="text-sm font-semibold">BARF</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const tabs = document.querySelectorAll('[data-tab]');
  const panels = document.querySelectorAll('.tab-panel');

  tabs.forEach((tab) => {
    tab.addEventListener('click', () => {
      // Reset tabs
      tabs.forEach((t) => t.classList.remove('bg-[#004623]', 'text-white', 'active'));
      tabs.forEach((t) => t.classList.add('text-[#004623]'));
      panels.forEach((p) => p.classList.add('hidden'));

      // Activar tab actual
      tab.classList.add('bg-[#004623]', 'text-white');
      tab.classList.remove('text-[#004623]');
      document.getElementById(tab.getAttribute('data-tab')).classList.remove('hidden');
    });
  });
</script>
<script>
  (function () {
    const slider = document.getElementById('drag-scroll-todos');
    if (!slider) return;

    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      slider.classList.add('cursor-grabbing');
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });

    slider.addEventListener('mouseleave', () => {
      isDown = false;
      slider.classList.remove('cursor-grabbing');
    });

    slider.addEventListener('mouseup', () => {
      isDown = false;
      slider.classList.remove('cursor-grabbing');
    });

    slider.addEventListener('mousemove', (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = x - startX; // Ajusta multiplicador si quieres más velocidad
      slider.scrollLeft = scrollLeft - walk;
    });
  })();
  window.addEventListener('DOMContentLoaded', () => {
    document.querySelector('[data-tab="perros"]').click();
  });
</script>

<style>
      /* Custom scrollbar para las cards */
      .tab-panel .cards-container::-webkit-scrollbar {
        height: 6px;
      }
      .tab-panel .cards-container::-webkit-scrollbar-track {
        background: #e5e7eb; /* gray-200 */
      }
      .tab-panel .cards-container::-webkit-scrollbar-thumb {
        background-color: #047857; /* green-700 */
        border-radius: 9999px;
      }
      /* Firefox */
      .tab-panel .cards-container {
        scrollbar-width: thin;
        scrollbar-color: #047857 #e5e7eb;
      }
      #drag-scroll-todos,
  #drag-scroll-todos * {
    user-select: none;
  }

  /* Desactiva el “arrastre” de las imágenes */
  #drag-scroll-todos img {
    -webkit-user-drag: none;
    user-drag: none;
  }
</style>
{% schema %}
{
  "name": "Migraciones col tabs",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s_bk_flickity t4s_tp_cd t4s-tabs-collection t4s_tp_tab2",
  "settings": [
    {
      "type": "header",
      "content": "1. Heading options"
    },
    {
      "type": "select",
      "id": "design_heading",
      "label": "Heading design",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Design 01"
        },
        {
          "value": "2",
          "label": "Design 02"
        },
        {
          "value": "3",
          "label": "Design 03"
        },
        {
          "value": "4",
          "label": "Design 04 (Working when description has content)"
        },
        {
          "value": "5",
          "label": "Design 05"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "heading_center",
      "label": "Center align the heading",
      "default": true
    },
    {
      "type": "text",
      "id": "top_heading",
      "label": "Heading",
      "default": "Trending Products"
    },
    {
      "type": "richtext",
      "id": "top_subheading",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "head_bigger",
      "label": "Head section bigger",
      "info": "Make heading has bigger width. Not works when section layout \"Full width\" selected.",
      "default": false
    },
    {
      "type": "number",
      "id": "tophead_mb",
      "label": "Bottom space (Desktop)(px)",
      "info": "The spacing is between the heading and the content",
      "default": 30
    },
    {
      "type": "number",
      "id": "tophead_mb_tb",
      "label": "Bottom space (Tablet)(px)",
      "info": "The spacing is between the heading and the content",
      "default": 30
    },
    {
      "type": "number",
      "id": "tophead_mb_mb",
      "label": "Bottom space (Mobile)(px)",
      "info": "The spacing is between the heading and the content",
      "default": 25
    },
    {
      "type": "header",
      "content": "2. General options"
    },
    {
      "type": "checkbox",
      "id": "title_inline",
      "label": "Title inline",
      "info": "Tick here to show Tab title and tab list on 1 line",
      "default": false
    },
    {
      "type": "select",
      "id": "tabs_des",
      "options": [
        {
          "value": "base",
          "label": "Base"
        },
        {
          "value": "border",
          "label": "Has border (when item active)"
        },
        {
          "value": "border-bg",
          "label": "Has border and background"
        },
        {
          "value": "underline",
          "label": "Has underline (when item active)"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ],
      "label": "Tabs design",
      "default": "border"
    },
    {
      "type": "select",
      "id": "tabs_border",
      "label": "Tabs item border",
      "info": "Only working with design has border",
      "default": "dashed",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        },
        {
          "value": "dotted",
          "label": "Dotted"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "tabs_list_border",
      "label": "Tabs list border bottom",
      "info": "Tick here to show border bottom of tabslist. It looks good with the design \"Has underline\". ",
      "default": false
    },
    {
      "type": "select",
      "id": "tabs_pos",
      "label": "Tabs List Position",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "number",
      "id": "tabslist_mb",
      "label": "Tabs list margin bottom",
      "default": 30
    },
    // {
    //   "type": "number",
    //   "id": "tabslist_mb_tb",
    //   "label": "Tabs list margin bottom (Tablet)",
    //   "default": 30
    // },
    // {
    //   "type": "number",
    //   "id": "tabslist_mb_mb",
    //   "label": "Tabs list margin bottom (Mobile)",
    //   "default": 30
    // },
    {
      "type": "header",
      "content": "+ Tab items options"
    },
    {
      "type": "range",
      "id": "item_fs",
      "label": "Font size",
      "max": 100,
      "min": 10,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "item_lh",
      "label": "Line height",
      "max": 100,
      "min": 0,
      "step": 1,
      "default": 30,
      "unit": "px",
      "info": "Set '0' to use default"
    },
    {
      "type": "range",
      "id": "item_fw",
      "label": "Font weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 500
    },
    {
      "type": "range",
      "id": "item_ls",
      "label": "Letter spacing",
      "max": 10,
      "min": 0,
      "default": 0,
      "step": 0.1,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "item_rounded",
      "label": "Tabs item rounded",
      "info": "Only working with design has border and background",
      "default": true
    },
    {
      "type": "color",
      "id": "pri_cl",
      "label": "Primary color",
      "default": "#868686"
    },
    {
      "type": "color",
      "id": "secon_cl",
      "label": "Secondary color",
      "default": "#868686"
    },
    {
      "type": "color",
      "id": "pri_active_cl",
      "label": "Primary active color",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "secon_active_cl",
      "default": "#868686",
      "label": "Secondary active color"
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 0,
      "max": 60,
      "step": 1,
      "label": "Space between items (Desktop)",
      "unit": "px",
      "default": 5
    },
    {
      "type": "range",
      "id": "space_between_tb",
      "min": 0,
      "max": 60,
      "step": 1,
      "label": "Space between items (Tablet)",
      "unit": "px",
      "default": 5
    },
    {
      "type": "range",
      "id": "space_between_mb",
      "min": 0,
      "max": 60,
      "step": 1,
      "label": "Space between items (Mobile)",
      "unit": "px",
      "default": 5
    },
    {
      "type": "header",
      "content": "+ Tabs head button"
    },
    {
      "type": "text",
      "id": "head_btn_label",
      "label": "Button label",
      "default": "Explore all products"
    },
    {
      "type": "url",
      "id": "head_btn_url",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "head_btn_icon",
      "label": "Enable button icon",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "btn_rounded",
      "label": "Button rounded",
      "default": false
    },
    {
      "type": "select",
      "id": "head_button_style",
      "label": "Button style",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Bordered bottom",
          "value": "bordered"
        },
        {
          "label": "Link",
          "value": "link"
        }
      ],
      "default": "outline"
    },
    {
      "type": "select",
      "id": "head_btns_size",
      "label": "Button size",
      "default": "default",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Custom size #1",
          "value": "1"
        },
        {
          "label": "Custom size #2",
          "value": "2"
        },
        {
          "label": "Custom size #3",
          "value": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "head_btns_cl",
      "label": "Button color",
      "default": "dark",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "custom1",
          "label": "Custom color 1"
        },
        {
          "value": "custom2",
          "label": "Custom color 2"
        }
      ]
    },
    {
      "type": "select",
      "id": "head_button_effect",
      "label": "Hover button effect",
      "default": "default",
      "info": "Only working button style default, outline",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Fade",
          "value": "fade"
        },
        {
          "label": "Rectangle out",
          "value": "rectangle-out"
        },
        {
          "label": "Sweep to right",
          "value": "sweep-to-right"
        },
        {
          "label": "Sweep to left",
          "value": "sweep-to-left"
        },
        {
          "label": "Sweep to bottom",
          "value": "sweep-to-bottom"
        },
        {
          "label": "Sweep to top",
          "value": "sweep-to-top"
        },
        {
          "label": "Shutter out horizontal",
          "value": "shutter-out-horizontal"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Shadow",
          "value": "shadow"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hidden_btn_mb",
      "label": "Hidden head button on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "head_slide_btn",
      "label": "Enable navigation button on top",
      "info": "Only works when tab items is carousel and navigation button enabled. Not works when enabled tabs head button",
      "default": false
    },
    {
      "type": "header",
      "content": "3. Design options"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "t4s-container-wrap",
      "label": "Layout",
      "options": [
        { "value": "t4s-se-container", "label": "Container" },
        { "value": "t4s-container-wrap", "label": "Wrapped container" },
        { "value": "t4s-container-fluid", "label": "Full width" }
      ]
    },
    {
      "type": "color",
      "id": "cl_bg",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "cl_bg_gradient",
      "label": "Background gradient"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design tablet options"
    },
    {
      "type": "text",
      "id": "mg_tb",
      "label": "Margin",
      "default": ",,30px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_tb",
      "label": "Padding",
      "placeholder": ",,50px,"
    },
    {
      "type": "header",
      "content": "+ Design mobile options"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin",
      "default": ",,30px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding",
      "placeholder": ",,50px,"
    }
  ],
  "blocks": [
    {
      "type": "tab_item",
      "name": "Tab item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab title",
          "default": "Tab title"
        },
        {
          "type": "text",
          "id": "icon_title",
          "label": "Enter a icon name on tab title",
          "info": "[LineAwesome](https://kalles.the4.co/font-lineawesome/). Leave it blank if you want to use an image"
        },
        {
          "type": "image_picker",
          "id": "image_title",
          "label": "Image on title item"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "type": "collection_list",
          "id": "multi_collections",
          "label": "Colecciones (máx. 10)"
        },
        {
          "type": "select",
          "id": "product_des",
          "options": [
            {
              "value": "1",
              "label": "Design 1"
            },
            {
              "value": "2",
              "label": "Design 2"
            },
            {
              "value": "3",
              "label": "Design 3"
            },
            {
              "value": "4",
              "label": "Design 4"
            },
            {
              "value": "5",
              "label": "Design 5"
            },
            {
              "value": "6",
              "label": "Design 6"
            },
            {
              "value": "7",
              "label": "Design 7"
            }
          ],
          "label": "Product item design",
          "default": "1"
        },
        {
          "type": "select",
          "id": "rating_pos",
          "info": "Only work when enable \"Rating\" in themes settings",
          "options": [
            {
              "value": "1",
              "label": "Above product name"
            },
            {
              "value": "2",
              "label": "Under product price"
            },
            {
              "value": "3",
              "label": "Hidden"
            }
          ],
          "label": "Rating position",
          "default": "1"
        },
        {
          "type": "select",
          "id": "list_color_pos",
          "info": "Only work when enable \"Color swatches\" in themes settings",
          "options": [
            {
              "value": "1",
              "label": "On image product/top info"
            },
            {
              "value": "2",
              "label": "In product info/bottom info"
            }
          ],
          "label": "Colors swatches position",
          "default": "1"
        },
        {
          "type": "select",
          "id": "list_size_pos",
          "info": "Only work when enable \"Size list\" in themes settings",
          "options": [
            {
              "value": "1",
              "label": "On image product/top info"
            },
            {
              "value": "2",
              "label": "In product info/bottom info"
            }
          ],
          "label": "Sizes list position",
          "default": "1"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show product vendors",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "use_cdt",
          "label": "Show product countdown",
          "default": false
        },

        {
          "type": "checkbox",
          "id": "featured_items",
          "label": "Show featured items",
          "info": "Not works when \"Layout design\" is Carousel",
          "default": false
        },
        {
          "type": "header",
          "content": "+ Options image products"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "Image ratio",
          "default": "rationt",
          "info": "Aspect ratio custom will settings in general panel",
          "options": [
            {
              "group": "Natural",
              "value": "ratioadapt",
              "label": "Adapt to image"
            },
            {
              "group": "Landscape",
              "value": "ratio2_1",
              "label": "2:1"
            },
            {
              "group": "Landscape",
              "value": "ratio16_9",
              "label": "16:9"
            },
            {
              "group": "Landscape",
              "value": "ratio8_5",
              "label": "8:5"
            },
            {
              "group": "Landscape",
              "value": "ratio3_2",
              "label": "3:2"
            },
            {
              "group": "Landscape",
              "value": "ratio4_3",
              "label": "4:3"
            },
            {
              "group": "Landscape",
              "value": "rationt",
              "label": "Ratio ASOS"
            },
            {
              "group": "Squared",
              "value": "ratio1_1",
              "label": "1:1"
            },
            {
              "group": "Portrait",
              "value": "ratio2_3",
              "label": "2:3"
            },
            {
              "group": "Portrait",
              "value": "ratio1_2",
              "label": "1:2"
            },
            {
              "group": "Custom",
              "value": "ratiocus1",
              "label": "Ratio custom 1"
            },
            {
              "group": "Custom",
              "value": "ratiocus2",
              "label": "Ratio custom 2"
            },
            {
              "group": "Custom",
              "value": "ratiocus3",
              "label": "Ratio custom 3"
            },
            {
              "group": "Custom",
              "value": "ratiocus4",
              "label": "Ratio custom 4"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "Image size",
          "default": "cover",
          "info": "This settings apply only if the image ratio is not set to 'Adapt to image'",
          "options": [
            {
              "value": "cover",
              "label": "Full"
            },
            {
              "value": "contain",
              "label": "Auto"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_position",
          "info": "The first value is the horizontal position and the second value is the vertical. This settings apply only if the image ratio is not set to 'Adapt to image'",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "1",
              "label": "Left top"
            },
            {
              "value": "2",
              "label": "Left center"
            },
            {
              "value": "3",
              "label": "Left bottom"
            },
            {
              "value": "4",
              "label": "Right top"
            },
            {
              "value": "5",
              "label": "Right center"
            },
            {
              "value": "6",
              "label": "Right bottom"
            },
            {
              "value": "7",
              "label": "Center top"
            },
            {
              "value": "8",
              "label": "Center center"
            },
            {
              "value": "9",
              "label": "Center bottom"
            }
          ],
          "label": "Image position",
          "default": "8"
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "Product content align",
          "default": "start",
          "options": [
            {
              "label": "Default",
              "value": "start"
            },
            {
              "label": "Center",
              "value": "center"
            }
          ]
        },
        {
          "type": "range",
          "id": "limit",
          "min": 1,
          "max": 50,
          "step": 1,
          "label": "Maximum products to show",
          "default": 8
        },
        {
          "type": "select",
          "id": "col_dk",
          "label": "Items per row",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            }
          ]
        },
        {
          "type": "select",
          "id": "col_tb",
          "label": "Items per row (Tablet)",
          "default": "3",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            }
          ]
        },
        {
          "type": "select",
          "id": "col_mb",
          "label": "Items per row (Mobile)",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "select",
          "id": "space_h_item",
          "options": [
            {
              "value": "0",
              "label": "0"
            },
            {
              "value": "2",
              "label": "2px"
            },
            {
              "value": "4",
              "label": "4px"
            },
            {
              "value": "6",
              "label": "6px"
            },
            {
              "value": "8",
              "label": "8px"
            },
            {
              "value": "10",
              "label": "10px"
            },
            {
              "value": "15",
              "label": "15px"
            },
            {
              "value": "20",
              "label": "20px"
            },
            {
              "value": "25",
              "label": "25px"
            },
            {
              "value": "30",
              "label": "30px"
            },
            {
              "value": "40",
              "label": "40px"
            },
            {
              "value": "50",
              "label": "50px"
            }
          ],
          "label": "Space horizontal items",
          "default": "30"
        },
        {
          "type": "select",
          "id": "space_v_item",
          "options": [
            {
              "value": "0",
              "label": "0"
            },
            {
              "value": "2",
              "label": "2px"
            },
            {
              "value": "4",
              "label": "4px"
            },
            {
              "value": "6",
              "label": "6px"
            },
            {
              "value": "8",
              "label": "8px"
            },
            {
              "value": "10",
              "label": "10px"
            },
            {
              "value": "15",
              "label": "15px"
            },
            {
              "value": "20",
              "label": "20px"
            },
            {
              "value": "25",
              "label": "25px"
            },
            {
              "value": "30",
              "label": "30px"
            },
            {
              "value": "40",
              "label": "40px"
            }
          ],
          "label": "Space vertical items",
          "default": "30"
        },
        {
          "type": "select",
          "id": "space_h_item_tb",
          "options": [
            {
              "value": "0",
              "label": "0"
            },
            {
              "value": "2",
              "label": "2px"
            },
            {
              "value": "4",
              "label": "4px"
            },
            {
              "value": "6",
              "label": "6px"
            },
            {
              "value": "8",
              "label": "8px"
            },
            {
              "value": "10",
              "label": "10px"
            },
            {
              "value": "15",
              "label": "15px"
            },
            {
              "value": "20",
              "label": "20px"
            },
            {
              "value": "25",
              "label": "25px"
            },
            {
              "value": "30",
              "label": "30px"
            }
          ],
          "label": "Space horizontal items (Tablet)",
          "default": "30"
        },
        {
          "type": "select",
          "id": "space_v_item_tb",
          "options": [
            {
              "value": "0",
              "label": "0"
            },
            {
              "value": "2",
              "label": "2px"
            },
            {
              "value": "4",
              "label": "4px"
            },
            {
              "value": "6",
              "label": "6px"
            },
            {
              "value": "8",
              "label": "8px"
            },
            {
              "value": "10",
              "label": "10px"
            },
            {
              "value": "15",
              "label": "15px"
            },
            {
              "value": "20",
              "label": "20px"
            },
            {
              "value": "25",
              "label": "25px"
            },
            {
              "value": "30",
              "label": "30px"
            }
          ],
          "label": "Space vertical items (Tablet)",
          "default": "30"
        },
        {
          "type": "select",
          "id": "space_h_item_mb",
          "options": [
            {
              "value": "0",
              "label": "0"
            },
            {
              "value": "2",
              "label": "2px"
            },
            {
              "value": "4",
              "label": "4px"
            },
            {
              "value": "6",
              "label": "6px"
            },
            {
              "value": "8",
              "label": "8px"
            },
            {
              "value": "10",
              "label": "10px"
            },
            {
              "value": "15",
              "label": "15px"
            },
            {
              "value": "20",
              "label": "20px"
            },
            {
              "value": "25",
              "label": "25px"
            },
            {
              "value": "30",
              "label": "30px"
            }
          ],
          "label": "Space horizontal items (Mobile)",
          "default": "10"
        },
        {
          "type": "select",
          "id": "space_v_item_mb",
          "options": [
            {
              "value": "0",
              "label": "0"
            },
            {
              "value": "2",
              "label": "2px"
            },
            {
              "value": "4",
              "label": "4px"
            },
            {
              "value": "6",
              "label": "6px"
            },
            {
              "value": "8",
              "label": "8px"
            },
            {
              "value": "10",
              "label": "10px"
            },
            {
              "value": "15",
              "label": "15px"
            },
            {
              "value": "20",
              "label": "20px"
            },
            {
              "value": "25",
              "label": "25px"
            },
            {
              "value": "30",
              "label": "30px"
            }
          ],
          "label": "Space vertical items (Mobile)",
          "default": "10"
        },
        {
          "type": "header",
          "content": "--Box options--"
        },
        {
          "type": "select",
          "id": "layout_des",
          "options": [
            {
              "value": "1",
              "label": "Grid"
            },
            {
              "value": "2",
              "label": "Carousel"
            },
            {
              "value": "3",
              "label": "Masonry"
            }
          ],
          "label": "Layout design",
          "default": "2"
        },
        {
          "type": "header",
          "content": "+Options for carousel layout"
        },
        {
          "type": "checkbox",
          "id": "border_pr",
          "label": "Enable border product items",
          "info": "Enable border between product items",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Enable loop",
          "info": "At the end of cells, wrap-around to the other end for infinite scrolling",
          "default": true
        },
        {
          "type": "range",
          "id": "au_time",
          "min": 0,
          "max": 30,
          "step": 0.5,
          "label": "Autoplay speed in second.",
          "info": "Set is '0' to disable autoplay",
          "unit": "s",
          "default": 0
        },
        {
          "type": "checkbox",
          "id": "au_hover",
          "label": "Pause autoplay on hover",
          "info": "Auto-playing will pause when the user hovers over the carousel",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "—————————————————"
        },
        {
          "type": "paragraph",
          "content": "Prev next button"
        },
        {
          "type": "checkbox",
          "id": "nav_btn",
          "label": "Use prev next button",
          "info": "Enable previous & next buttons",
          "default": false
        },
        {
          "type": "select",
          "id": "btn_pos",
          "label": "Prev next position",
          "info": "Working on screen Desktop",
          "default": "in",
          "options": [
            {
              "label": "In content",
              "value": "in"
            },
            {
              "label": "Out content",
              "value": "out"
            },
            {
              "label": "Content side center",
              "value": "between"
            }
          ]
        },
        {
          "type": "range",
          "id": "btn_distance",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Distance from buttons to boundary",
          "info": "Only works when \"Prev next position is In content\". Only works on desktop.",
          "unit": "px",
          "default": 15
        },
        {
          "type": "select",
          "id": "btn_vi",
          "label": "Visible",
          "default": "hover",
          "options": [
            {
              "value": "always",
              "label": "Always"
            },
            {
              "value": "hover",
              "label": "Only hover"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_owl",
          "label": "Button style",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "simple",
              "label": "Simple"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_shape",
          "label": "Button shape",
          "info": "Not work for 'Simple' button style",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "Default"
            },
            {
              "value": "round",
              "label": "Round"
            },
            {
              "value": "rotate",
              "label": "Rotate"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_cl",
          "label": "Button color",
          "default": "dark",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "custom1",
              "label": "Custom color 1"
            },
            {
              "value": "custom2",
              "label": "Custom color 2"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Buttons size",
          "default": "small",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "btn_hidden_mobile",
          "label": "Hidden buttons on mobile ",
          "default": false
        },
        {
          "type": "paragraph",
          "content": "—————————————————"
        },
        {
          "type": "paragraph",
          "content": "Page dots"
        },
        {
          "type": "checkbox",
          "id": "nav_dot",
          "label": "Use page dots",
          "info": "Creates and show page dots",
          "default": false
        },
        {
          "type": "select",
          "id": "dot_owl",
          "label": "Dots style",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "elessi",
              "label": "Elessi"
            },
            {
              "value": "br-outline",
              "label": "Bordered outline"
            }
          ]
        },
        {
          "type": "select",
          "id": "dots_cl",
          "label": "Dots color",
          "default": "dark",
          "options": [
            {
              "value": "light",
              "label": "Light (Best on dark background)"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "custom1",
              "label": "Custom color 1"
            },
            {
              "value": "custom2",
              "label": "Custom color 2"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "dots_round",
          "label": "Enable round dots",
          "default": true
        },
        {
          "type": "range",
          "id": "dots_space",
          "min": 2,
          "max": 20,
          "step": 1,
          "label": "Space among dots",
          "unit": "px",
          "default": 10
        },
        {
          "type": "range",
          "id": "dots_bottom_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Distance from dots to boundary",
          "unit": "px",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "dots_hidden_mobile",
          "label": "Hidden dots on mobile ",
          "default": false
        },
        {
          "type": "header",
          "content": "+Options for grid or masonry layout"
        },
        {
          "type": "checkbox",
          "id": "border_pr_img",
          "label": "Enable border product image",
          "default": false
        },
        {
          "type": "select",
          "id": "use_pagination",
          "label": "Pagination",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "load-more",
              "label": "'Load more' button"
            },
            {
              "value": "view-all",
              "label": "'View all' button"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "enable_bar_lm",
          "label": "Enable progress bar",
          "info": "Only active when you use 'Load more' or 'Infinit scrolling'",
          "default": true
        },
        {
          "type": "text",
          "id": "text_view_all",
          "label": "View all title (optional)",
          "info": "Leave empty to use 'title view all' default."
        },
        {
          "type": "checkbox",
          "id": "btn_icon",
          "label": "Enable button icon",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "btn_rounded",
          "label": "Button rounded",
          "default": false
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "label": "Default",
              "value": "default"
            },
            {
              "label": "Outline",
              "value": "outline"
            },
            {
              "label": "Bordered bottom",
              "value": "bordered"
            },
            {
              "label": "Link",
              "value": "link"
            }
          ]
        },
        {
          "type": "select",
          "id": "btns_size",
          "label": "Button size",
          "default": "default",
          "options": [
            {
              "label": "Default",
              "value": "default"
            },
            {
              "label": "Custom size #1",
              "value": "1"
            },
            {
              "label": "Custom size #2",
              "value": "2"
            },
            {
              "label": "Custom size #3",
              "value": "3"
            }
          ]
        },
        {
          "type": "select",
          "id": "btns_cl",
          "label": "Button color",
          "default": "dark",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "custom1",
              "label": "Custom color 1"
            },
            {
              "value": "custom2",
              "label": "Custom color 2"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_effect",
          "label": "Hover button effect",
          "default": "default",
          "info": "Only working button style default, outline",
          "options": [
            {
              "label": "Default",
              "value": "default"
            },
            {
              "label": "Fade",
              "value": "fade"
            },
            {
              "label": "Rectangle out",
              "value": "rectangle-out"
            },
            {
              "label": "Sweep to right",
              "value": "sweep-to-right"
            },
            {
              "label": "Sweep to left",
              "value": "sweep-to-left"
            },
            {
              "label": "Sweep to bottom",
              "value": "sweep-to-bottom"
            },
            {
              "label": "Sweep to top",
              "value": "sweep-to-top"
            },
            {
              "label": "Shutter out horizontal",
              "value": "shutter-out-horizontal"
            },
            {
              "label": "Outline",
              "value": "outline"
            },
            {
              "label": "Shadow",
              "value": "shadow"
            }
          ]
        },
        {
          "type": "select",
          "id": "btns_pos",
          "label": "Button position",
          "default": "t4s-text-center",
          "options": [
            {
              "value": "t4s-text-start",
              "label": "Left"
            },
            {
              "value": "t4s-text-center",
              "label": "Center"
            },
            {
              "value": "t4s-text-end",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Migraciones col tabs",
      "category": "group2",
      "blocks": [
        {
          "type": "tab_item",
          "settings": {
            "title": "Tab 01"
          }
        },
        {
          "type": "tab_item",
          "settings": {
            "title": "Tab 02"
          }
        },
        {
          "type": "tab_item",
          "settings": {
            "title": "Tab 03"
          }
        }
      ]
    }
  ]
}
{% endschema %}
